body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c7c7c7;
}

#calendar{
    padding: 30px;
    width: 794px;
    transition: 0.5s;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(92, 92, 92);
}

#prevMonth{
    width: 10%;
    float: left;
}

#monthYear{
    width: 80%;
    float: left;
    text-align: center;
}

#nextMonth{
    width: 10%;
    float: left;
}

#month{
    transition: 0.5s;
    font-size: 75px;
    text-transform: uppercase;
    color: #2C2589;
    font-weight: bold;
}

#year{
    transition: 0.5s;
    font-size: 55px;
    font-weight: bold;
    color: #C70039;
}

table{
    width: 100%;
}

.dayTitle{
    transition: 0.5s;
    background-color: #2C2589;
    color: white;
    text-transform: uppercase;
}

th{
    padding: 10px 20px 10px 20px;
}

.day{
    transition: 0.5s;
    font-size: 50px;
    color: #2C2589;
    font-weight: bold;
    text-align: center;
}

.otherMonth{
    color: #cacaca;
}

.holiday{
    color: #C70039;
}

@media screen and (max-width: 900px){
    #calendar{
        transition: 0.5s;
        width: 440px;
    }

    #month{
        transition: 0.5s;
        font-size: 45px;
    }

    #year{
        transition: 0.5s;
        font-size: 35px;
    }

    .day{
        transition: 0.5s;
        font-size: 30px;
    }

    .otherMonth{
        color: #cacaca;
    }
    
    .holiday{
        color: #C70039;
    }

    .dayTitle{
        transition: 0.5s;
        font-size: 10px;
        padding: 7px;
    }
}

@media screen and (max-width: 520px){
    #calendar{
        transition: 0.5s;
        width: 220px;
        padding: 18px;
    }

    #month{
        transition: 0.5s;
        font-size: 25px;
    }

    #year{
        transition: 0.5s;
        font-size: 20px;
    }

    .day{
        transition: 0.5s;
        font-size: 15px;
    }

    .otherMonth{
        color: #cacaca;
    }
    
    .holiday{
        color: #C70039;
    }

    .dayTitle{
        transition: 0.5s;
        font-size: 10px;
        padding: 4px;
    }
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}