:root{
    /*--body-bg-color: #c7c7c7;*/
    /*--month-color: #2C2589;*/
    /*--year-color: #C70039;*/
    /*--day-title-bg-color: #2C2589;*/
    /*--day-title-color: white;*/
    /*--day-color: #2C2589*/
    /*--other-month-color: #cacaca;*/
    /*--holiday-color: #C70039;*/
    --body-bg-color: rgb(32, 32, 32);
    --calendar-bg-color:  rgb(32, 32, 32);
    --month-color: #4c64cc;
    --year-color: #a10b0b;
    --day-title-bg-color: #4c64cc;
    --day-title-color: rgb(189, 189, 189);
    --day-color: #4c64cc;
    --other-month-color: #474747;
    --holiday-color: #a10b0b;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--body-bg-color);
}

#calendar{
    padding: 30px;
    width: 794px;
    transition: 0.5s;
    background-color: var(--calendar-bg-color);
    /*box-shadow: 5px 5px 10px rgb(92, 92, 92);*/
}

#prevMonth{
    width: 10%;
    float: left;
}

#monthYear{
    width: 80%;
    float: left;
    text-align: center;
}

#nextMonth{
    width: 10%;
    float: left;
}

#month{
    transition: 0.5s;
    font-size: 75px;
    text-transform: uppercase;
    color: var(--month-color);
    font-weight: bold;
}

#year{
    transition: 0.5s;
    font-size: 55px;
    font-weight: bold;
    color: var(--year-color);
}

table{
    width: 100%;
}

.dayTitle{
    transition: 0.5s;
    background-color: var(--day-title-bg-color);
    color: var(--day-title-color);
    text-transform: uppercase;
}

th{
    padding: 10px 20px 10px 20px;
}

.day{
    transition: 0.5s;
    font-size: 50px;
    color: var(--day-color);
    font-weight: bold;
    text-align: center;
}

.otherMonth{
    color: var(--other-month-color);
}

.holiday{
    color: var(--holiday-color);
}

@media screen and (max-width: 900px){
    #calendar{
        transition: 0.5s;
        width: 440px;
    }

    #month{
        transition: 0.5s;
        font-size: 45px;
    }

    #year{
        transition: 0.5s;
        font-size: 35px;
    }

    .day{
        transition: 0.5s;
        font-size: 30px;
    }

    .otherMonth{
        color: var(--other-month-color);
    }
    
    .holiday{
        color: var(--holiday-color);
    }

    .dayTitle{
        transition: 0.5s;
        font-size: 10px;
        padding: 7px;
    }
}

@media screen and (max-width: 520px){
    #calendar{
        transition: 0.5s;
        width: 220px;
        padding: 18px;
    }

    #month{
        transition: 0.5s;
        font-size: 25px;
    }

    #year{
        transition: 0.5s;
        font-size: 20px;
    }

    .day{
        transition: 0.5s;
        font-size: 15px;
    }

    .otherMonth{
        color: var(--other-month-color);
    }
    
    .holiday{
        color: var(--holiday-color);
    }

    .dayTitle{
        transition: 0.5s;
        font-size: 10px;
        padding: 4px;
    }
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}